<footer class="footer">
    <div class="footer__logo-box">
        <div class="footer__logo">
            <a class="footer__logo-text" href="#">Ilyas Assainov</a>
        </div>
    </div>
    <div class="footer__copyright">
        2018 &copy; All rights reserved
    </div>
</footer>